body{

   /*
   background: url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=0a080a&density=6&opacity=25");
    */

}

.top-section{
    padding: 50px 0px 0px;
    /*background: #2F92D5 ;
    color:#FFFFFF;
   */ width:100%;
    position: relative;

}

.tile-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 7;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #E1E1E1;
    max-width: 95%;
    min-width: 60%;
    width: auto;
}

.full-reset {
    margin: 0;
    padding: 0;
    width: 100%;
}
/*
panel
 */
.panel{
    border-color: cornflowerblue;
}
.panel-default > .panel-heading-custom{
    background-image: none;
    background-color: cornflowerblue;
    color: #ffffff;
    font-weight: bold;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

features-section{
    padding:100px 0px;
}


.h1 small {
    font-size: 24px;
}

.navbar-border{border-bottom: solid 5px cornflowerblue; width: 100%;}

.navbar-default{
    /*background:none;*/
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: cornflowerblue;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    font-weight: bold;
    background-color: cornflowerblue;
}


.carousel-control.right,
.carousel-control.left{
    background-image: none;
}

/* ============= Estilos home ============= */
.tile{
    display: inline-block;
    width: 220px;
    height: auto;
    border: 1px solid #E1E1E1;
    position: relative;
    cursor: pointer;
    margin: 10px;
}
.tile-icon,.tile-num{
    height: 110px;
    line-height: 110px;
    position: relative;
}
.tile-icon{
    color: #B71C1C;
    border-bottom: 1px solid #E1E1E1;
    font-size: 50px;
}
.tile-icon i{
    transition: all .3s ease-in-out;
}
.tile-num{
    background-color: #F5F5F5;
    font-size: 40px;
}
.tile-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 7;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #E1E1E1;
    max-width: 95%;
    min-width: 60%;
    width: auto;
}
.tile:hover .tile-icon i{
    transform: scale(1.5);
    color: #303F9F;
}
.footer-section{
    padding: 150px 0px 0px;
    background: #0778A6 ;
    color:#FFFFFF;
    width:100%;
    min-height:380px;
    position: relative;
}

.footer-section ul li a{
    color:#fff;
}

/*CART*/

.sc-cart-item-qty{
    width: 55px;
    border-radius: 3px;
    font-size: 12px;
    padding: 4px 0 3px 6px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
